.button {
    display: flex;
    border: 2px solid var(--color-text);
    padding: 0px 5px;
    font-family: inherit;
    font-weight: normal;
    border-radius: 5px;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    background-color: var(--color-text);
    color: rgb(49, 49, 49);

    &:focus,
    &:hover,
    &:visited,
    &:link,
    &:active {
        border: 2px solid var(--color-highlight);
    }

    transition: border 250ms ease-in-out, transform 150ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;
}