html,
body {
  padding: 0;
  margin: 0;
  font-family: Yusei Magic;
  font-weight: normal;
  background-color: rgb(1, 0, 41);
  color: rgb(221, 221, 221);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  font-weight: normal;
}
