.container {
    min-height: 80vh;
    padding: 0 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top: 2px solid rgb(240, 240, 240);
  }
  
.main {
  padding: 3rem 0;
  flex: 1;
  display: flex;
  align-items: center;
}

.productImage {
  margin-right: 2em;
  max-width: 400px;
}

.liningButtonsWrapper {
  display: flex;
}

.liningButton {
  padding: 0px 5px;
  border-radius: 50px;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  margin: 10px 10px;
}

.button {
  color: white;
  font-family: inherit;
  font-size: 1.2em;
  font-weight: 700;
  background-color: blueviolet;
  padding: .8em 1.4em;
  border-radius: .2em;
  border: 0;
  box-shadow: 0 2px 6px rgba(0, 0, 0, .4);
  cursor: pointer;
}

.addToCartWrapper {
  display: flex;
  margin-top: 30px;
  align-items: center;
  justify-content: space-between;
  width: 300px;
}

.quantityButtonsWrapper {
  display: flex;
  font-size: 20px;
  align-items: center;
  justify-content: space-around;
  width: 100px;
}

.EditQuantityButton {
  height: 30px;
  font-size: 30px;
}

.addToCartButton {
  font-size: 1.6em;
}