.trackWrapper {
    position: absolute;
    display: flex;
    bottom: 2%;
    width: 50%;
    left: 50%;
    transform: translateX(-50%);
    justify-content: center;
    color: var(--color-background)
    //margin: 0 auto;
  }