.header {
    width: 100%;
    padding: 10px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    p {
        margin: 0;
    }

    @media only screen and (max-width: 600px) {
        padding: 5px 5px;
    }
}

.headerContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logoTitleWrapper {
    display: flex;
    text-decoration: none;
    align-items: center;
    justify-content: flex-start;

}

.logo {
    object-fit: cover;
    height: 70px;
    max-width: 70px;
    margin: 0 40px 0 0;

  @media only screen and (max-width: 600px) {
    max-width: 50px;
    padding: 0 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.headerTitle {
    font-size: 2em;
    font-weight: normal;

    @media only screen and (max-width: 600px) {
        font-size: 1.2em;
        text-align: center;
        padding: 0 .5em;
    }
}

.headerCart {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 1em;

    svg {
        margin-right: .5em;
        margin-left: .5em;
        font-size: 1.5em;
    }
}