.header {
    width: 100%;
    background-color: rgb(49, 49, 49);
    color: rgb(240, 240, 240);

    p {
        margin: 0;
    }
}

.headerContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.headerTitle {
    font-size: 2em;
}

.headerCart {
    display: flex;
    justify-content: center;
    align-items: center;

    svg {
        margin-right: .5em;
    }
}