.modalWrapper {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
  right: -300px;
  top: 0;
  width: 300px;
  height: 100vh;
  border-left: 2px solid var(--color-text);
  background-color: var(--color-background);
  color: var(--color-text);
  overflow-y: auto;
  overflow-x: hidden;
  z-index: 99;
  transition: 0.7s;
  overflow-x: hidden;
  clip: rect(auto, auto, auto, auto);
}

.buttonContainer {
  display: flex;
  width: 100%;
  margin-top: 10px;
  margin-left: 15px;
}

.exitButton {
  display: flex;
  border: 2px solid var(--color-text);
  padding: 0px 5px;
  font-size: 20px;
  border-radius: 5px;
  cursor: pointer;
  align-items: center;
  justify-content: center;

  transition: background 250ms ease-in-out, transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.modalItem {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.productWrapper {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0 .5em;
}

.productName {
  display: flex;
  margin-bottom: 5px;
  margin-right: 10px;
  margin-left: 10px;
  text-align: center;
}

.imgQtyWrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0;
}

.productImage {
  object-fit: cover;
  width: 100%;
  border-radius: 5px;
  display: flex;
  padding-left: .5em;
}

.quantity {
  margin: 0;
}

.removeButton {
  height: 10%;
  font-weight: bold;
  padding-right: 5px;
  margin-top: 40px;
  font-size: 15px;
  border-radius: 5px;
  cursor: pointer;
  align-items: center;
  justify-content: center;
}

.checkout {
  display: flex;
  width: 200px;
  height: 50px;
  min-height: 50px;
  color: inherit;
  font-size: 2em;
  background: 
    linear-gradient(
      170deg,
      rgba(253,29,29,1),
      var(--color-highlight) 80%
    )
}

.spinLogo {
  display: flex;
  width: 1.2em;
  object-fit: cover;
  animation: rotation 2s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}