.product {
  //min-width: 200px;
}


.product:hover {
    color: rgb(255, 102, 0);
  }
  
  .productTitle {
    font-size: 1.4em;
    margin: .4em 0 0;
    text-align: center;
  }
  
  .imgWrapper {
    position: relative;
  }
  
  .arrow {
    position: absolute;
    font-size: 1.3em;
    --fa-primary-color: rgb(1, 0, 41);
    color: var(--fa-primary-color);
    transition: color 250ms;
  
    @media only screen and (max-width: 600px) {
      font-size: 2em;
    }
  }
  
  .arrow:hover {
    color:rgb(255, 102, 0);
  }

  .right {
    right: 5%;
    top: 45%;
  }

  .left {
    left: 5%;
    top: 45%;
  }